@font-face {
   font-family: 'MarkPro';
    src: url('../fonts/MarkPro.otf');
}


* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /*background-image: url("../images/background.png");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    font-family: 'MarkPro', 'Times New Roman';
    background: black;    
}

.content-wrapper {
    background: white;
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 20%;
    background: black;
    height: 44px;
    display: inline-block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main-nav {
    width: 100%;
    height: 60px;
    background: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu {
    display: inline-block;
    list-style: none;
    height: 60px;
    width: 80%;
}

.menu-item {
    float: right;
    line-height: 60px;
    min-width: 100px;
    text-align: center;
    color: white;
}

.menu-item:hover {
    background: #fc5042;
    color: white;
    cursor: pointer;
    /*margin-top: 5px;*/
    box-shadow: 1px 0px 0px black;    
}

.slider {
    width: 100%;
    background-color: white;
    height: 75%;
    background-image: url("../images/fbcover.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-title {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.section-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.event-element {
    display: inline-block;
    width: 31%;
    height: 70%;
    margin: 12px;  
}

.event-element-image {
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50%;
    margin: 50 auto;
    box-shadow: 1px 1px #333;
}

.about-image {
    background-image: url("../images/about.png");
        background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-image {
    background-image: url("../images/black-logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.location-image {
     background-image: url("../images/location.png");
    background-position: center;
    background-repeat: no-repeat;
}

.event-element-title {
    text-align: center;
    font-size: 30px;
}

.event-element-text {
    margin:25px;
    font-size: 18px;
    color: black;
    text-align: justify;
}

.spearkers-container {
    background-image: url('../images/wood-back.jpg');
}

.speaker {
    background: white;
    width: 20%;
    height: 420px;
    margin: 20px;
    position: relative;
    box-shadow: 1px 1px 1px #333333;
    transition: 1s all ease;
    transform-origin: top right;
}

.speaker:hover {
    animation-name: myrotation;
    animation-timing-function: easе;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
    
}

.photo {
    width: 95%;
    height: 70%;
    margin: 8px;
    background-image: url("../images/next-speaker.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@-webkit-keyframes myrotation {
    0%   {transform: rotate(0deg);}
    25%   {transform: rotate(2deg);}
    50%   {transform: rotate(0deg);}
    75%   {transform: rotate(-2deg);}
    100%  {transform: rotate(0deg);}
} 

.pin {
    background-image: url("../images/pin-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
    top: -25px;
    right: -25px;
}

.speaker-name {
    text-align: center;
    font-size: 18pt;
}

.speaker-desc {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
}

.program {
    width: 60%;
    background: yellow;
    margin-top: 20px;
}

.program-event {
    width: 100%;
    height: 200px;
    background: red;
    position: relative;
}

.program-event-line {
    background: white;
    width: 2px;
    height: 96px;
    margin: 0 auto;
}

.program-event-hour {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 auto;
    line-height: 100px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.program-event-description {
    width: 225px;
    height: 125px;
    background: white;
    position: absolute;
    bottom: 0;
}

.program-description-text {
    width: 80%;
    height: 100%;
    background: rebeccapurple;
    color: white;
    text-align: center;
    line-height: 125px;
    font-size: 22px;
    word-wrap: break-word;
    
}

.program-description-text-position-left {
    float: left;
}

.program-description-text-position-right {
    float: right;
}

.program-event-description-position-left {
    left: 50px;
}

.program-event-description-position-right {
    right: 50px;
}

.description-pointer-position-left {
    left: -15px;
}

.description-pointer-position-right {
    float: right;
    right: -15px;
}

.description-pointer {
    position: relative;
    width: 40px;
    height: 40px;
    top: 42px;
    transform: rotate(45deg);
    background: white;
    display: inline-block;
}

.partners-slider {
    width: 100%;
    position: relative;
}

.team-image {
    width: 40%;
    transition: 1s transform linear;
    height: 100%;
    transform: translate3d(0, 0, 0);
    will-change: transform-origin;
    background-image: url("../images/team.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.team-image:hover {
    transform: scale(2);
}

.team-container {
    background: #3e3e3e;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.team-member {
    width: 25%;
    height: 250px;
    margin: 50 auto;
}

.member-photo {
    width: 200px;
    height: 200px;
    border: 2px solid #fc5042;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 2px 2px black;
}

.member-name {
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 50px;
}

.boyan {
    background-image: url('../images/team/boqn.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mariq {
    background-image: url('../images/team/mariq.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tsveti {
    background-image: url('../images/team/tsvetelina.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.magi {
                background-image: url('../images/team/magi.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.duci {
    background-image: url('../images/team/mihail.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.kostov {
    background-image: url('../images/team/kostov.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.galq {
    background-image: url('../images/team/galina.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.uji {
    background-image: url('../images/team/udji.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.radost {
    background-image: url('../images/team/radost.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rali {
    background-image: url('../images/team/ralica.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.borko {
    background-image: url('../images/team/boris.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nina {
    background-image: url('../images/team/nina.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#contact {width:100%; height:50%; margin: 0 auto; background: #DDD; }

.container {width:100%; height:auto; margin: 0 auto; padding: 50px 0; position: relative;}

#contact .container form input,
#contact .container form textarea {
	width:90%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#999;
	letter-spacing:1px;
	background: #FFF;
	border:2px solid #FFF;
	margin-bottom:25px;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form input:focus,
#contact .container form textarea:focus {
	border:2px solid #fc5042;
	color:#999;}

#contact .container form textarea {
	height:150px;}

#contact .container form .submit {
	width:90%;
	padding:5px 10px;
	font-size: 12px;
	letter-spacing:1px;
	background:#fc5042;
	height:44px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
    border-radius: 7px;
	border:2px solid #fc5042;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}
    

#contact .container form .submit:hover {
	color:#FFF;
	border:2px solid #fc5042;
	background: #fc5042;
	cursor:pointer;}

#contact .container form .required {
	color:#fc5042;}
